## Day-6 List

In [2]:
l1 = [10,20,30,40,50,60]
print(l1)

[10, 20, 30, 40, 50, 60]

In [5]:
len([10,20,30,40,50,60])
len(l1)

6

In [6]:
name = ['Ravi','Nitin','Deepak']
print(name)

['Ravi', 'Nitin', 'Deepak']

In [7]:
b1 = [True, True, False, False]
print(b1)

[True, True, False, False]

In [8]:
f1 = [2.2,3.3,4.4,5.5]
print(f1)

[2.2, 3.3, 4.4, 5.5]

In [9]:
mix = [10,20,30,"Data Science","AI",2.2,3.3,True,False]
print(mix)

[10, 20, 30, 'Data Science', 'AI', 2.2, 3.3, True, False]

In [10]:
name = ['Ravi','Nitin','Deepak',"Vivek","Vinay","Suresh"]
print(name)

['Ravi', 'Nitin', 'Deepak', 'Vivek', 'Vinay', 'Suresh']

In [12]:
print(name[1])
print(name[3])

Nitin
Vivek

In [13]:
print(name[-1])
print(name[-3])

Suresh
Vivek

In [19]:
print(name[len(name)-1])

Suresh

In [23]:
## List Traversal
l1 = [10,20,30,40,50,60,70,80,90,100]

for i in l1:
    print(i, end=', ')

10, 20, 30, 40, 50, 60, 70, 80, 90, 100,

In [26]:
l1 = [10,20,30,40,50,60,70,80,90,100]

for i in range(len(l1)):
    print(l1[i], end=', ')

10, 20, 30, 40, 50, 60, 70, 80, 90, 100,

In [27]:
## List Slicing
name = ['Ravi','Nitin','Deepak',"Vivek","Vinay","Suresh"]
print(name)

['Ravi', 'Nitin', 'Deepak', 'Vivek', 'Vinay', 'Suresh']

In [34]:
print(name[:])
print(name[0:4])
print(name[2:])
print(name[1:4])
print(name[1:5])
print(name[1:-1])

['Ravi', 'Nitin', 'Deepak', 'Vivek', 'Vinay', 'Suresh']
['Ravi', 'Nitin', 'Deepak', 'Vivek']
['Deepak', 'Vivek', 'Vinay', 'Suresh']
['Nitin', 'Deepak', 'Vivek']
['Nitin', 'Deepak', 'Vivek', 'Vinay']
['Nitin', 'Deepak', 'Vivek', 'Vinay']

In [35]:
l1 = [['Nitin', 'Deepak', 'Vivek'],[10,20,30],[True,False,False]]
print(l1)

[['Nitin', 'Deepak', 'Vivek'], [10, 20, 30], [True, False, False]]

In [36]:
print(len(l1))

3

In [39]:
print(l1[-1])

[True, False, False]

In [41]:
print(l1[1][-1])

30

In [44]:
print(l1[1][1:])

[20, 30]

## List - Operations & Functions

In [45]:
num = [10,20,30,40,50,60,70,80,90,100]
print(num)

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [46]:
len(num)

10

In [47]:
min(num)

10

In [48]:
max(num)

100

In [49]:
sum(num)

550

In [50]:
avg = sum(num)/len(num)
print(avg)

55.0

In [51]:
del num[0]

In [52]:
num

[20, 30, 40, 50, 60, 70, 80, 90, 100]

## List - List Specific Functioncs

In [53]:
name = ['Ravi','Nitin','Deepak',"Vivek",name.index('Nitin'),"Suresh"]
print(name)

['Ravi', 'Nitin', 'Deepak', 'Vivek', 'Vinay', 'Suresh']

In [54]:
name.index('Nitin')

1

In [55]:
name.index("Vinay")

4

In [56]:
name

['Ravi', 'Nitin', 'Deepak', 'Vivek', 'Vinay', 'Suresh']

In [57]:
name.append("Mohan")

In [58]:
name

['Ravi', 'Nitin', 'Deepak', 'Vivek', 'Vinay', 'Suresh', 'Mohan']

In [59]:
name.insert(2,'Vishwajeet')

In [60]:
name

['Ravi', 'Nitin', 'Vishwajeet', 'Deepak', 'Vivek', 'Vinay', 'Suresh', 'Mohan']

In [61]:
l1 = [10,20,30]
l2 = [40,50,60]
l1.extend(l2)

In [62]:
l1

[10, 20, 30, 40, 50, 60]

In [68]:
name.sort()

In [65]:
name

['Deepak', 'Mohan', 'Nitin', 'Ravi', 'Suresh', 'Vinay', 'Vishwajeet', 'Vivek']

In [66]:
name.sort(reverse=True)

In [69]:
name

['Deepak', 'Mohan', 'Nitin', 'Ravi', 'Suresh', 'Vinay', 'Vishwajeet', 'Vivek']

In [70]:
del name[-1]

In [71]:
name

['Deepak', 'Mohan', 'Nitin', 'Ravi', 'Suresh', 'Vinay', 'Vishwajeet']

In [72]:
name.pop(1)

'Mohan'

In [73]:
name

['Deepak', 'Nitin', 'Ravi', 'Suresh', 'Vinay', 'Vishwajeet']

In [74]:
name.remove('Deepak')

In [75]:
name

['Nitin', 'Ravi', 'Suresh', 'Vinay', 'Vishwajeet']

## Exerice
#### Append and traversal items in list

In [76]:

number = []

while True:
    num = input("Enter the values:")
    if num == "quit":
        break
    number.append(num)

for i in number:
    print("Val:",i)

Val: 10
Val: 20
Val: 30
Val: 40
Val: 50

In [78]:
Tables = []

while True:
    print("Number:", len(Tables)+1)
    num = int(input())
    if num == 0:
        break
    Tables.append(num)

print("Numbers inside the list:")
for n in Tables:
    for num1 in range(1,11):
        num2 = num1 * n

        print(f'{n} * {num1} = {num2}')
    print("***************************")
    print("\n")

Number: 1
Number: 2
Number: 3
Numbers inside the list:
11 * 1 = 11
11 * 2 = 22
11 * 3 = 33
11 * 4 = 44
11 * 5 = 55
11 * 6 = 66
11 * 7 = 77
11 * 8 = 88
11 * 9 = 99
11 * 10 = 110
***************************


12 * 1 = 12
12 * 2 = 24
12 * 3 = 36
12 * 4 = 48
12 * 5 = 60
12 * 6 = 72
12 * 7 = 84
12 * 8 = 96
12 * 9 = 108
12 * 10 = 120
***************************

In [ ]:
grid = [['.', '.', '.', '.', '.', '.'],
['.', 'O', 'O', '.', '.', '.'],
['O', 'O', 'O', 'O', '.', '.'],
['O', 'O', 'O', 'O', 'O', '.'],
['.', 'O', 'O', 'O', 'O', 'O'],
['O', 'O', 'O', 'O', 'O', '.'],
['O', 'O', 'O', 'O', '.', '.'],
['.', 'O', 'O', '.', '.', '.'],
['.', '.', '.', '.', '.', '.']]



output-

..OO.OO..
.OOOOOOO.
.OOOOOOO.
..OOOOO..
...OOO...
....O....