# Day-4
## Python for Data Science

In [1]:
len('23475923942349529349523495029345250394952834')
var1 =

44

In [3]:
## Valid Syntax
name = "Vishwajeet"
_name = "Shubham"
my_name = "Tariq"
name1 = 'vivek'
name2 = 'Vikas'
name34 = 'Rem'
print(_name)
print(my_name)

Shubham
Tariq

In [4]:
## Invalid Syntax
@name = "Value"
123name = "Value"
print(123name)

SyntaxError: invalid decimal literal (2377517425.py, line 3)

In [12]:
greeting = "Hello"
name = "Shubham"
age = 22

print(greeting + ", " + name + ' and the age is ' + str(age)+ ' Years old.')

Hello, Shubham and the age is 22 Years old.

In [13]:
var1 = 22
var2 = 7

In [14]:
print(type(var1))

<class 'int'>

In [15]:
print(var1 + var2)
print(var1 - var2)
print(var1 * var2)
print(var1 / var2)
print(var1 // var2)
print(var1 % var2)

29
15
154
3.142857142857143
3
1

In [16]:
greeting = "Hello"
name = "Shubham"
age = 22

In [30]:
print(greeting + ", my name is " + name + ' and i am ' + str(age) + ' years old.')
print(greeting,", my name is", name , 'and i am' ,(age),'years old.')
print("{}, my name is {} and i am {} years old.".format(greeting,name,age))
print(f"{greeting}, my name is {name} and i am {age} years old.")

Hello, my name is Shubham and i am 22 years old.
Hello , my name is Shubham and i am 22 years old.
Hello, my name is Shubham and i am 22 years old.
Hello, my name is Shubham and i am 22 years old.

## Loops

In [31]:
## 1 - While, 2- For Loop

In [35]:
import time
var1 = 0

while(var1 <=10):
    print("Var1:",var1+1)
    time.sleep(1)
    var1+=1

Var1: 1
Var1: 2
Var1: 3
Var1: 4
Var1: 5
Var1: 6
Var1: 7
Var1: 8
Var1: 9
Var1: 10
Var1: 11

In [37]:
name = input("Entre the value:")
print("Hi,",name)

Hi, Tariq

In [43]:
num = int(input("Enter the value:"))
print(num * 2)
print(type(num))

26
<class 'int'>

In [45]:
while True:
    num = int(input("Enter the number:"))
    var1 = 1
    if num == 0:
        break
    while(var1<=10):
        var2 = var1 * num
        print(f"{num} * {var1} = {var2}")
        var1 += 1
        
print("You are out of While loop!!!")

10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100
11 * 1 = 11
11 * 2 = 22
11 * 3 = 33
11 * 4 = 44
11 * 5 = 55
11 * 6 = 66
11 * 7 = 77
11 * 8 = 88
11 * 9 = 99
11 * 10 = 110
12 * 1 = 12
12 * 2 = 24
12 * 3 = 36
12 * 4 = 48
12 * 5 = 60
12 * 6 = 72
12 * 7 = 84
12 * 8 = 96
12 * 9 = 108
12 * 10 = 120
13 * 1 = 13
13 * 2 = 26
13 * 3 = 39
13 * 4 = 52
13 * 5 = 65
13 * 6 = 78
13 * 7 = 91
13 * 8 = 104
13 * 9 = 117
13 * 10 = 130
You are out of While loop!!!